In [1]:
from IPython.display import Image

# <a id="1.Summary"> 1.Summary</a>

I have attached a spreadsheet containing five years of production and weather data for our Middlesex, NJ and Bethlehem, PA facilities. When looking at the production data if the “BatchNumber” listed starts with PASD it was done in Bethlehem and if it starts with NJSD it was done in Middlesex. I included some info that we have on flowability and hygroscopicity but it’s not empirical data; mostly a judgement call made for “reasons”. Weather data was downloaded from openweathermap.org, temperatures are in °F. Let me know if you need any clarification on the data provided.

More specifically, given the dependence of their drying products and services on weather
conditions, the company is interested in using weather data to forecast the processing times for
different batches of SKUs. 

The team is expected to:

• Develop a database with manufacturing data that will be used to develop statistical
models

• Develop, manage and maintain statistical models, including but not limited to:

o Forecasting of processing times based on weather data

o Forecasting downtime and preventive maintenance issues

<br>

<br>

<br>

# <a id="2.Table of Contents">2.Tabole of Contents</a>
<a href="#1.Summary">Click this Link back to Top</a>

<ol>
    <li><a href="#1.Summary">Summary</a></li>
    <li><a href="#2.Tabole of Contents">Tabole of Contents</a></li>
    <li><a href="#3.Preprocess">Preprocess</a>
    <ul>
        <li><a href="#3.1 Hyperparameter">3.1 Hyperparameter</a></li>
        <li><a href="#3.2 Import Data">3.2 Import Data</a></li>
        <li><a href="#3.3 Clean Data">3.3 Clean Data</a></li> 
        <li><a href="#3.4 Tokenize">3.4 Tokenize</a></li> 
        <li><a href="#3.5 Label Processing">3.5 Label Processing</a></li>  
        <li><a href="#3.6 EDA">3.6 EDA</a></li>  
    </ul>
    </li>
    <li><a href="#4.Word2Vect">Word2Vect</a>
    <ul>
        <li><del><a href="#TFIDF">4.1 TFIDF</a></del></li>
        <li><del><a href="#Embedding">4.2 Embedding</a></del></li>
        <li><a href="#Glove Vector">4.3 Glove Vector</a></li>
        <li><a href="#BERT Vector">4.4 BERT Vector</a></li> 
        <li><a href="#Split and Compile">4.5 Split and Compile</a></li> 
    </ul>
    </li>
    <li><a href="#5.Classify">Classify</a></li>
    <li><a href="#6.Models">Models</a>
    <ul>
        <li><a href="#6.1 DNN">6.1 DNN</a></li>
        <li><a href="#6.2 CNN">6.2 CNN</a></li>
        <li><a href="#6.3 RNN">6.3 RNN</a></li>
        <li><a href="#6.4 BERT">6.4 BERT</a></li>
        <li><a href="#6.5 Seq2Seq">6.5 Seq2Seq</a></li>
        <li><a href="#6.9 Save">6.9 Save</a></li>
    </ul>
    </li>
    <li><a href="#7.Analysis and Plot">Analysis and Plot</a></li>
    <ul>
        <li><a href="#7.1 Analysis">7.1 Analysis</a></li>
        <li><a href="7.2 Spearmanr">7.2 Spearmanr</a></li>
    </ul>
    <li><a href="#8.Main Function">Main Function</a></li>
    <li><a href="#9.Test Code">Test Code</a></li>
</ol>

# <a id="3.Preprocess">3.Preprocess</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

1. transform data column into identical format
2. split data into two station part: NJ and PA
3.

## <a id="3.1 Hyperparameter">3.1 Hyperparameter</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

In [23]:
class HyperParamters(object):
    """
    This class will be used to transmit hyperparameters between class.parameters
    Most of class can inherit this class and its hyperparameters

    ########################__Rules__##################################
    class file name = class + _ + number of sequence + function name
    class name = ClassType (Camel-Case)
    function name = function_name
    variable name = attribute_type_describe (Hungarian notation) # sometime I don't use attribute
    constant = UPPERCASE
    ###########################################################################


    ########################__Notation__############################################
    1. We might need split data into two place NJ and PA, but we also can try to merge two location into one,
    because they are not far away
    2. clean data, transform date format, join by date, Coeffience anaylsis
    3. Check kaggle format
    4. Check journals
    5. Traditional way is to find relationship between total running time with other weather features
    6. But we need to consider equipment service lift or depreciation will affect running time
    7. Sometimes, we don't use running time itself, we can use the statiscal version of this data
    For example, runing time - avg , variance of each running time data point
    8.
    #############################################################################

    1.change import data path
    """

    def __init__(self):
        """:arg


        """
        self.TEST = 1

        # you can change this root path in this class and import_data() function will search from this root dictionary
        self.ROOTPATH = 'D:\\OneDrive\\03_Academic\\23_Github\\20_Stevens\\66-MGT-809\\03_data'

        # assign the column will be dropped in production table
        self.DROP_COL = ['Bulk Density', 'Moisture Target']

<br>

<br>

<br>

## <a id="3.2 Import Data">3.2 Import Data</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

In [2]:
# from class_31_hyperparameters import HyperParamters

# read xlxs file
import pandas as pd
# record running data
from time import time
# join directory path
import os




class ImportData(HyperParamters):
    """



    """
    def __init__(self):
        # inhereit from HyperParameter
        HyperParamters.__init__(self)


    def import_data(self):
        """:arg

        Returns:
        ----------
        df_product:DataFrame
            real production data including running time
        df_nj_weather:DataFrame
            Middlesex, NJ factory weather data from openweather.org
        df_pa_weather:DataFrame


        """
        print("*" * 50, "Start import_data()", "*" * 50)
        start_time = time()
        
        # create excel full paht directory
        excel_product = os.path.join(self.ROOTPATH, '017_20160101_20201231_ProductionData.xlsx')
        # first sheet is real production data
        df_product = pd.read_excel(excel_product, sheet_name = '20160101_20201231_ProductionDat')
        # second sheet is NJ weather data
        df_nj_weather = pd.read_excel(excel_product, sheet_name = 'MiddlesexWeather')
        # third sheet is PA weather data
        df_pa_weather = pd.read_excel(excel_product, sheet_name = 'BethlehemWeather')
        
        cost_time = round((time() - start_time), 4)
        print("*" * 40, "End import_data() with {} second".format(cost_time), "*" * 40, end='\n\n')

        return df_product, df_nj_weather, df_pa_weather

<br>

<br>

<br>

## <a id="3.3 Preprocess">3.3 Preprocess</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

In [31]:
from class_31_hyperparameters import HyperParamters

# using for timestap convert
import pandas as pd
# recording running time in each function
from time import time


class PreProcess(HyperParamters):
    """:arg
    Actually, not only production data need to be clean.

    tz_convert(): used to convert string to timestamp format
    """

    def __init__(self):
        """:arg
        Inheriret from HyperParamters
        """
        HyperParamters.__init__(self)


    def tz_convert(self, series):
        """:arg
        Args:
        ------
        serise:DataFrame.series
            each element from DataFrame columns

        Returns:
        -----------
        series_est:timestamp

        """
        series_est = pd.Timestamp(series, unit='s', tz='America/New_York')

        return series_est

    def round_to_hour(self,timestamp):
        """
        We notice df_product['StartDat'] is string type not DataFrame.timestamp.
        And weather data are seperated by hours, so we need transform string time data round to nearest hour

        Args:
        --------
        timestamp
        """
        # because of summer time and winter time rules, some UTC date can't conver to EST
        try:
            date_hour = timestamp.round(freq='H').tz_localize(tz='America/New_York', nonexistent='shift_forward')
        except:
            print('This data cant convert correctly {}'.format(timestamp.round(freq='H')))
            date_hour = timestamp.round(freq='H').tz_localize(tz='America/New_York',
                                                              ambiguous='NaT',
                                                              nonexistent='shift_forward')
            print('This date replaced by {}'.format('NaT'))

        return date_hour




    def clean_data(self, df_product, df_nj_weather, df_pa_weather):
        """:arg
        Delete columns we believe didn't use in the future.

        Args:
        --------
        df_product:DataFrame

        Returns:
        --------
        df_product:DataFrame
            cleaned DataFrame table

        """
        print("*" * 50, "Start import_data()", "*" * 50)
        start_time = time()

        # ['Bulk Density'] have 50% missing data
        df_product = df_product.drop(self.DROP_COL, axis=1)

        # some weather data might also need clearn


        # convert weather data ['dt'] (unix time) to Eastern Stardard Time(EST)
        # pass an argument(series) to function tz_convert()
        df_nj_weather['dt_est'] = df_nj_weather['dt'].apply(self.tz_convert)
        # another way to use apply()
        # df_nj_weather['dt_est'] = df_nj_weather['dt'].apply(lambda x: pd.TimeStamp(x, unit='s', tz='America/New_York'))
        df_pa_weather['dt_est'] = df_pa_weather['dt'].apply(self.tz_convert)

        # for merge purpose, make sure two column have same name
        df_product['dt_est'] = df_product['StartDate'].apply(self.round_to_hour)



        cost_time = round((time() - start_time), 4)
        print("*" * 40, "End import_data() with {} second".format(cost_time), "*" * 40, end='\n\n')

        return df_product, df_nj_weather, df_pa_weather

In [32]:
class_pre = PreProcess()
df_product, df_nj_weather, df_pa_weather = class_pre.clean_data(df_product, df_nj_weather, df_pa_weather)

************************************************** Start import_data() **************************************************
This data cant convert correctly 2016-11-06 01:00:00
This date replaced by NaT
This data cant convert correctly 2017-11-05 01:00:00
This date replaced by NaT
**************************************** End import_data() with 3.4375 second ****************************************

In [33]:
df_product.head(2)

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,DryingTime_Hrs,CleanTime_Hrs,DownTime_Hrs,TotalRunTime_Hrs,dt_EST,dt_est
0,2016-01-02 08:54:58.000,NJSD313825,10013-0000,Dryer 04,Good,Medium,333.7357,352.2000,105.5,146.750000,2.4,5.1,0.0,7.5,2016-01-02 09:00:00-05:00,2016-01-02 09:00:00-05:00
1,2016-01-02 11:06:57.863,NJSD312807,10558-0000,Dryer 03,Good,Medium,4270.4120,3935.3999,92.2,468.499988,8.4,0.2,4.2,12.8,2016-01-02 11:00:00-05:00,2016-01-02 11:00:00-05:00

In [34]:
df_nj_weather.head(2)

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,dt_est
0,1451606400,2016-01-01 00:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.93,37.06,42.8,46.30,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,2015-12-31 19:00:00-05:00
1,1451610000,2016-01-01 01:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.65,38.10,42.8,46.02,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2015-12-31 20:00:00-05:00

# <a id="4.EDA">4.EDA</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

# <a id="8.Main Function">8.Main Function</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

In [22]:
# from class_31_hyperparameters import HyperParamters
# from class_32_import_data import ImportData
# from class_33_preprocess import PreProcess


def main():
    """
    We use this function to call process one by one.
    """


    # ***********************import******************************
    class_import = ImportData()
    df_product, df_nj_weather, df_pa_weather = class_import.import_data()

    # *******************3.Preprocess**************************************
    class_pre = PreProcess()
    df_product, df_nj_weather, df_pa_weather = class_pre.clean_data(df_product, df_nj_weather, df_pa_weather)


    return df_product, df_nj_weather, df_pa_weather

if __name__=="__main__":
    """:arg
    
    """
    (df_product, df_nj_weather, df_pa_weather) = main()
    print("OVER")

************************************************** Start import_data() **************************************************
**************************************** End import_data() with 66.2301 second ****************************************

************************************************** Start import_data() **************************************************

KeyError: "['Bulk Density' 'Moisture Target'] not found in axis"

# <a id="9.Test Code">9.Test Code</a>
<a href="#2.Table of Contents">Click this Link back to Top</a>

1. We might need split data into two place NJ and PA, but we also can try to merge two location into one, because they are not far away
2. clean data, transform date format, join by date, Coeffience anaylsis
3. Check kaggle format
4. Check journals

In [35]:
df_nj = pd.merge(df_product, df_nj_weather, on=['dt_est'], how='left')

In [37]:
df_product.shape

(9970, 16)

In [38]:
df_nj_weather.shape

(46646, 26)

In [40]:
df_nj.shape

(10615, 41)

In [41]:
df_nj.head(2)

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2016-01-02 08:54:58.000,NJSD313825,10013-0000,Dryer 04,Good,Medium,333.7357,352.2000,105.5,146.750000,...,270.0,NaN,NaN,NaN,NaN,90.0,804.0,Clouds,overcast clouds,04d
1,2016-01-02 11:06:57.863,NJSD312807,10558-0000,Dryer 03,Good,Medium,4270.4120,3935.3999,92.2,468.499988,...,280.0,NaN,NaN,NaN,NaN,75.0,803.0,Clouds,broken clouds,04d

In [42]:
df_nj.columns

Index(['StartDate', 'BatchNumber', 'CustItem', 'Dryer', 'Flow',
       'Hygroscopicity', 'ScheduledDryQty', 'ActualDryQty', 'YieldPercentage',
       'Rate', 'DryingTime_Hrs', 'CleanTime_Hrs', 'DownTime_Hrs',
       'TotalRunTime_Hrs', 'dt_EST', 'dt_est', 'dt', 'dt_iso', 'timezone',
       'city_name', 'lat', 'lon', 'temp', 'feels_like', 'temp_min', 'temp_max',
       'pressure', 'sea_level', 'grnd_level', 'humidity', 'wind_speed',
       'wind_deg', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h', 'clouds_all',
       'weather_id', 'weather_main', 'weather_description', 'weather_icon'],
      dtype='object')

In [6]:
df_product[df_product['BatchNumber'].str.contains('NJ', regex=False)]

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,Bulk Density,Moisture Target,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,DryingTime_Hrs,CleanTime_Hrs,DownTime_Hrs,TotalRunTime_Hrs
0,2016-01-02 08:54:58.000,NJSD313825,10013-0000,Dryer 04,Good,Medium,Target = 0.30 g/mL,2 to 4% Max,333.7357,352.2000,105.5,146.750000,2.4,5.1,0.0,7.5
1,2016-01-02 11:06:57.863,NJSD312807,10558-0000,Dryer 03,Good,Medium,Record,10% Max.,4270.4120,3935.3999,92.2,468.499988,8.4,0.2,4.2,12.8
2,2016-01-02 21:40:51.470,NJSD313826,10447-0000,Dryer 04,Good,Medium,NaN,3% Max,1353.0969,1195.9000,88.4,123.288660,9.7,5.7,0.9,16.2
3,2016-01-02 22:45:11.673,NJSD312677,24164-0000,Dryer 02,Good,Medium,NaN,5% Max,19549.0975,18185.1000,93.0,335.518450,54.2,11.1,7.6,72.8
4,2016-01-03 00:10:32.910,NJSD314508,10558-0000,Dryer 03,Good,Medium,Record,10% Max.,4282.1720,3373.1999,78.8,411.365841,8.2,0.1,3.5,11.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9958,2020-12-27 02:02:32.617,NJSD378398,45723-0000,Dryer 01,Good,Medium,NaN,5.0% MAX,1822.5465,1792.0000,98.3,289.032258,6.2,4.6,0.8,11.6
9961,2020-12-27 14:47:34.140,NJSD378412,10093-0000,Dryer 01,Good,Medium,NaN,5% Max,1683.3335,1600.0000,95.0,326.530612,4.9,3.4,0.4,8.7
9962,2020-12-27 16:29:14.457,NJSD379264,44097-0000,Dryer 02,Good,Medium,NaN,5.0% MAX,6488.6985,6200.0000,95.6,534.482759,11.6,3.4,6.5,21.5
9964,2020-12-28 06:35:56.627,NJSD378095,10247-0000,Dryer 03,Good,Medium,NaN,TARGET <3.5% MAX 4.5%,19073.2326,18400.0000,96.5,202.420242,90.9,5.8,12.7,109.4
9969,2020-12-30 20:55:10.457,NJSD379709,46248-0000,Dryer 04,Good,Medium,NaN,10% MAX,717.5348,696.2000,97.0,204.764706,3.4,2.9,1.0,7.3

In [7]:
df_product[df_product['BatchNumber'].str.contains('PA', regex=False)]

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,Bulk Density,Moisture Target,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,DryingTime_Hrs,CleanTime_Hrs,DownTime_Hrs,TotalRunTime_Hrs
6,2016-01-03 05:09:32.667,PASD313468,10456-0000,Dryer 08,Good,Medium,NaN,0.028,26941.1765,23100.0000,85.7,535.962877,43.1,32.3,0.7,76.2
9,2016-01-03 13:58:36.000,PASD313912,40556-0000,Dryer 09,Good,Medium,NaN,5% Max,393.6016,350.0000,88.9,NaN,0.0,0.0,0.0,0.0
13,2016-01-05 03:52:44.097,PASD314541,40738-0000,Dryer 09,Good,Medium,NaN,5% Max,432.9630,388.9000,89.8,14.090580,27.6,6.0,0.0,33.6
16,2016-01-05 16:26:23.280,PASD314352,10091-0000,Dryer 07,Poor,Medium,Tapped 0.5 - 0.7,5% Max,5400.8864,4407.9999,81.6,78.714284,56.0,0.1,12.5,68.7
18,2016-01-06 14:30:21.370,PASD313915,23489-0000,Dryer 09,Good,Medium,NaN,5% MAX,575.6400,518.8000,90.1,18.865455,27.5,13.4,0.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9963,2020-12-28 00:25:25.440,PASD377548,48061-0000,Dryer 06,Good,Medium,NaN,5.0% MAX,31807.1134,29100.0000,93.2,464.856230,62.6,6.3,1.5,70.3
9965,2020-12-28 09:04:23.930,PASD372294,48025-0000,Dryer 10,Good,Medium,NaN,MIN= 2.5; Max = 4.0% (Target = 2.5 – 3.0%),21762.1510,19650.0000,90.3,559.829060,35.1,14.2,17.7,67.0
9966,2020-12-29 12:28:05.080,PASD380104,41902-0000,Dryer 07,Good,Medium,NaN,5% MAX,490.0008,300.0000,61.2,142.857143,2.1,0.6,1.5,4.3
9967,2020-12-29 21:33:47.500,PASD377869,43041-0000,Dryer 07,Good,Medium,Record once after startup (tapped),Target 2% MAX 3%,21684.3832,20360.0000,93.9,652.564103,31.2,13.6,2.9,47.6
9968,2020-12-30 15:26:38.750,PASD376163,14957-0000,Dryer 11,Poor,High,NaN,2% Max,47045.5404,45402.3987,98.8,900.841244,50.4,0.0,7.2,57.6

In [8]:
df_product.shape

(9970, 16)

In [9]:
df_product.columns

Index(['StartDate', 'BatchNumber', 'CustItem', 'Dryer', 'Flow',
       'Hygroscopicity', 'Bulk Density', 'Moisture Target', 'ScheduledDryQty',
       'ActualDryQty', 'YieldPercentage', 'Rate', 'DryingTime_Hrs',
       'CleanTime_Hrs', 'DownTime_Hrs', 'TotalRunTime_Hrs'],
      dtype='object')

In [56]:
df_product.head(5)

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,Bulk Density,Moisture Target,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,DryingTime_Hrs,CleanTime_Hrs,DownTime_Hrs,TotalRunTime_Hrs
0,2016-01-02 08:54:58.000,NJSD313825,10013-0000,Dryer 04,Good,Medium,Target = 0.30 g/mL,2 to 4% Max,333.7357,352.2000,105.5,146.750000,2.4,5.1,0.0,7.5
1,2016-01-02 11:06:57.863,NJSD312807,10558-0000,Dryer 03,Good,Medium,Record,10% Max.,4270.4120,3935.3999,92.2,468.499988,8.4,0.2,4.2,12.8
2,2016-01-02 21:40:51.470,NJSD313826,10447-0000,Dryer 04,Good,Medium,NaN,3% Max,1353.0969,1195.9000,88.4,123.288660,9.7,5.7,0.9,16.2
3,2016-01-02 22:45:11.673,NJSD312677,24164-0000,Dryer 02,Good,Medium,NaN,5% Max,19549.0975,18185.1000,93.0,335.518450,54.2,11.1,7.6,72.8
4,2016-01-03 00:10:32.910,NJSD314508,10558-0000,Dryer 03,Good,Medium,Record,10% Max.,4282.1720,3373.1999,78.8,411.365841,8.2,0.1,3.5,11.8

In [20]:
df_nj_weather.head(3)

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1451606400,2016-01-01 00:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.93,37.06,42.8,46.30,...,280,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1,1451610000,2016-01-01 01:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.65,38.10,42.8,46.02,...,0,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,1451613600,2016-01-01 02:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.27,36.12,42.8,45.11,...,300,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n

In [58]:
df_pa_weather.head(2)

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1451606400,2016-01-01 00:00:00 +0000 UTC,-18000,Bethlehem,40.625932,-75.370458,41.43,32.81,39.92,43.08,...,290,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
1,1451610000,2016-01-01 01:00:00 +0000 UTC,-18000,Bethlehem,40.625932,-75.370458,40.84,32.77,39.20,42.28,...,280,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n

In [6]:
# convert UCT to EST, because finall, we need a pipline: input weather data and output forecast result. 
# If system using EST, it will every easy to understand by human
df_nj_weather['dt_iso']

0        2016-01-01 00:00:00 +0000 UTC
1        2016-01-01 01:00:00 +0000 UTC
2        2016-01-01 02:00:00 +0000 UTC
3        2016-01-01 03:00:00 +0000 UTC
4        2016-01-01 04:00:00 +0000 UTC
                     ...
46641    2020-12-31 19:00:00 +0000 UTC
46642    2020-12-31 20:00:00 +0000 UTC
46643    2020-12-31 21:00:00 +0000 UTC
46644    2020-12-31 22:00:00 +0000 UTC
46645    2020-12-31 23:00:00 +0000 UTC
Name: dt_iso, Length: 46646, dtype: object

pd.to_datetime(df_nj_weather['dt_iso'])

In [9]:
df_nj_weather['dt'][0]

1451606400

In [14]:
est_time = pd.Timestamp(df_nj_weather['dt'], unit='s',tz='America/New_York')

TypeError: Cannot convert input [0        1451606400
1        1451610000
2        1451613600
3        1451617200
4        1451620800
            ...
46641    1609441200
46642    1609444800
46643    1609448400
46644    1609452000
46645    1609455600
Name: dt, Length: 46646, dtype: int64] of type <class 'pandas.core.series.Series'> to Timestamp

In [12]:
def tz_convert(dt):
    """
    """
    dt_etc = pd.Timestamp(dt, unit='s', tz='America/New_York')
    return dt_etc


df_1 = df_nj_weather.iloc[:,0:2]
df_1['dt_etc'] = df_1['dt'].apply(tz_convert)

In [27]:
df_1.head(2)

           dt                         dt_iso                    dt_etc
0  1451606400  2016-01-01 00:00:00 +0000 UTC 2015-12-31 19:00:00-05:00
1  1451610000  2016-01-01 01:00:00 +0000 UTC 2015-12-31 20:00:00-05:00

In [34]:
df_1['dt_etc'][0]

Timestamp('2015-12-31 19:00:00-0500', tz='America/New_York')

In [33]:
df_product['StartDate'][0]

Timestamp('2016-01-02 08:54:58')

In [35]:
df_nj_weather['StartDate'] = df_nj_weather['dt'].apply(tz_convert)

In [36]:
df_nj_weather.head(2)

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,StartDate
0,1451606400,2016-01-01 00:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.93,37.06,42.8,46.30,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,2015-12-31 19:00:00-05:00
1,1451610000,2016-01-01 01:00:00 +0000 UTC,-18000,Middlesex,40.572603,-74.492654,43.65,38.10,42.8,46.02,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2015-12-31 20:00:00-05:00

In [15]:
def round_to_hour_try(timestamp):
    """
    Round timestamp data to hour 
    """
#     hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', ambiguous='infer')
#     hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', nonexistent='shift_forward')
#     hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', ambiguous='NaT', nonexistent='shift_forward')
#     print(hour_date)
#     hour_date.tz_localize(tz='America/New_York')

    # because we have summer time and winter time. So it will raise error when you convert UTC to EST
    try:
        hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', nonexistent='shift_forward')
    except:
        print(timestamp.round(freq='H'))
        hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', ambiguous='NaT', nonexistent='shift_forward')
        print(hour_date)
    return hour_date

In [14]:
def round_to_hour(timestamp):
    """
    Round timestamp data to hour 
    """
#     hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', ambiguous='infer')
#     hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', nonexistent='shift_forward')
    hour_date = timestamp.round(freq='H').tz_localize(tz='America/New_York', ambiguous='NaT', nonexistent='shift_forward')
#     print(hour_date)
#     hour_date.tz_localize(tz='America/New_York')
    return hour_date

In [16]:
df_product['dt_EST'] = df_product['StartDate'].apply(round_to_hour_try)

2016-11-06 01:00:00
NaT
2017-11-05 01:00:00
NaT

In [19]:
df_product.head(3)

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,Bulk Density,Moisture Target,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,DryingTime_Hrs,CleanTime_Hrs,DownTime_Hrs,TotalRunTime_Hrs,dt_EST
0,2016-01-02 08:54:58.000,NJSD313825,10013-0000,Dryer 04,Good,Medium,Target = 0.30 g/mL,2 to 4% Max,333.7357,352.2000,105.5,146.750000,2.4,5.1,0.0,7.5,2016-01-02 09:00:00-05:00
1,2016-01-02 11:06:57.863,NJSD312807,10558-0000,Dryer 03,Good,Medium,Record,10% Max.,4270.4120,3935.3999,92.2,468.499988,8.4,0.2,4.2,12.8,2016-01-02 11:00:00-05:00
2,2016-01-02 21:40:51.470,NJSD313826,10447-0000,Dryer 04,Good,Medium,NaN,3% Max,1353.0969,1195.9000,88.4,123.288660,9.7,5.7,0.9,16.2,2016-01-02 22:00:00-05:00

In [120]:
df_product['dt_ET'] = df_product['StartDate'].apply(round_to_hour)

df_product['StartDate'][368].round(freq='H').tz_localize(tz='America/New_York', ambiguous='infer')

In [93]:
df_product['StartDate'][365].round(freq='H')

Timestamp('2016-03-12 17:00:00')

In [121]:
df_product.head(4)

,StartDate,BatchNumber,CustItem,Dryer,Flow,Hygroscopicity,Bulk Density,Moisture Target,ScheduledDryQty,ActualDryQty,YieldPercentage,Rate,DryingTime_Hrs,CleanTime_Hrs,DownTime_Hrs,TotalRunTime_Hrs,dt_EST,dt_ET
0,2016-01-02 08:54:58.000,NJSD313825,10013-0000,Dryer 04,Good,Medium,Target = 0.30 g/mL,2 to 4% Max,333.7357,352.2000,105.5,146.750000,2.4,5.1,0.0,7.5,2016-01-02 09:00:00,2016-01-02 09:00:00-05:00
1,2016-01-02 11:06:57.863,NJSD312807,10558-0000,Dryer 03,Good,Medium,Record,10% Max.,4270.4120,3935.3999,92.2,468.499988,8.4,0.2,4.2,12.8,2016-01-02 11:00:00,2016-01-02 11:00:00-05:00
2,2016-01-02 21:40:51.470,NJSD313826,10447-0000,Dryer 04,Good,Medium,NaN,3% Max,1353.0969,1195.9000,88.4,123.288660,9.7,5.7,0.9,16.2,2016-01-02 22:00:00,2016-01-02 22:00:00-05:00
3,2016-01-02 22:45:11.673,NJSD312677,24164-0000,Dryer 02,Good,Medium,NaN,5% Max,19549.0975,18185.1000,93.0,335.518450,54.2,11.1,7.6,72.8,2016-01-02 23:00:00,2016-01-02 23:00:00-05:00

In [129]:
df_product.isnull().sum()

StartDate              0
BatchNumber            0
CustItem               1
Dryer                  0
Flow                  24
Hygroscopicity        24
Bulk Density        6111
Moisture Target       17
ScheduledDryQty        1
ActualDryQty          14
YieldPercentage        9
Rate                  30
DryingTime_Hrs         0
CleanTime_Hrs          0
DownTime_Hrs           0
TotalRunTime_Hrs       0
dt_EST                 0
dt_ET                  2
dtype: int64

In [137]:
df_product[df_product['dt_EST']=='NaT']

Empty DataFrame
Columns: [StartDate, BatchNumber, CustItem, Dryer, Flow, Hygroscopicity, Bulk Density, Moisture Target, ScheduledDryQty, ActualDryQty, YieldPercentage, Rate, DryingTime_Hrs, CleanTime_Hrs, DownTime_Hrs, TotalRunTime_Hrs, dt_EST, dt_ET]
Index: []

In [55]:
type(df_product['Moisture Target'][0])

str

In [52]:
df_product[df_product['YieldPercentage']>100].count()

StartDate           288
BatchNumber         288
CustItem            288
Dryer               288
Flow                280
Hygroscopicity      279
Bulk Density        120
Moisture Target     280
ScheduledDryQty     288
ActualDryQty        288
YieldPercentage     288
Rate                283
DryingTime_Hrs      288
CleanTime_Hrs       288
DownTime_Hrs        288
TotalRunTime_Hrs    288
dt_EST              288
dt_ET               288
dtype: int64

In [50]:
df_product.shape

(9970, 18)

In [45]:
df_nj_weather['dt_ET'] = df_nj_weather['dt'].apply(tz_convert)

In [139]:
df_merge_2 = pd.merge(df_product, df_nj_weather, on=['dt_ET'], how='left')

In [141]:
df_merge_2.isnull().sum()

StartDate_x                0
BatchNumber                0
CustItem                   1
Dryer                      0
Flow                      24
Hygroscopicity            24
Bulk Density            6498
Moisture Target           21
ScheduledDryQty            2
ActualDryQty              16
YieldPercentage           10
Rate                      35
DryingTime_Hrs             0
CleanTime_Hrs              0
DownTime_Hrs               0
TotalRunTime_Hrs           0
dt_EST                     2
dt_ET                      2
dt                         2
dt_iso                     2
timezone                   2
city_name                  2
lat                        2
lon                        2
temp                       2
feels_like                 2
temp_min                   2
temp_max                   2
pressure                   2
sea_level              10615
grnd_level             10615
humidity                   2
wind_speed                 2
wind_deg                   2
rain_1h                 9112
rain_3h                10458
snow_1h                10417
snow_3h                10590
clouds_all                 2
weather_id                 2
weather_main               2
weather_description        2
weather_icon               2
StartDate_y                2
dtype: int64